<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container-fluid">
    <!-- Humberger -->
    <span style="cursor:pointer; display: block;" onclick="humberger('Cars','List Car')">
      <img src="/images/fi_menu.png" alt="">
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <form action="/search" method="get" class="input-group ">
          <input type="search" name="q" class="form-control search-icon" placeholder="Search"
            aria-label="Example text with button addon" aria-describedby="button-addon1">
          <input type="submit" class="btn btn-outline-primary btn-search"></input>
          
        </form>
        <img src="/images/user_photo.png" class="ms-4 me-2" alt="">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle user-name" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Unis Badri
              </a>
              <ul class="dropdown-menu dropdown-menu-end mt-2">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>