<!-- SideNav -->
<div class="sidenav text-center">
  <div class="navbar-brand "></div>
  <div class="link" onclick="sideNav('Dasboard','Main')">
    <span style=" cursor: pointer; ">
      <i class="fa-light fa-home fa-2xl " style="color: white; "></i>
      <p class=" mt-1 ">Dashboard</p>
    </span>
  </div>
  <div class="link active py-2 " onclick="sideNav('Cars','List Car')">
    <span style="cursor: pointer;">
      <i class="fa-light fa-car-side fa-2xl" style="color: white;"></i>
      <p class=" mt-1">Cars</p>
    </span>
  </div>
</div>

<!-- Sidenav Extend -->
<div id="mySidenav" class="sidenav-extend">
  <div class="navbar-brand "></div>
  <div class="parent-link">Cars</div>
  <div class="child">
    <!-- <a class="child-link" href="">List Mobl</a> -->
  </div>
</div>